
<div class="container site-section">
    <div class="row">
      <div class="col-6 title-section">
        <h2 class="heading">Our User</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="custom-media d-flex">
          <!-- <div class="img mr-4">
            <img  src= {{user.image}} alt="Image" class="img-fluid">
          </div> -->
          <div class="text">
            <span class="meta">{{user.firstName}}</span>
            <h3 class="mb-4"><a href="#">{{user.lastName}}</a></h3>
            <p><a href="#">{{user.email}}</a></p>
            <p><a href="#">{{user.pwd}}</a></p>
            <p><a href="#">{{user.confPwd}}</a></p>
            <p><a href="#">{{user.phone}}</a></p>
          </div>
        </div>
      </div>
      
    </div>
  </div>