<div class="container site-section">
    <div class="row">
      <div class="col-6 title-section">
        <h2 class="heading">Our Public</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="custom-media d-flex">
          <!-- <div class="img mr-4">
            <img  src= {{player.image}} alt="Image" class="img-fluid">
          </div> -->
          <div class="text">
            <h2>{{public.firstName}}</h2>
            <h3 class="mb-4"><a href="#">{{public.lastName}}</a></h3>
            <h3 class="mb-4"><a href="#">{{public.email}}</a></h3>
            <h3 class="mb-4"><a href="#">{{public.pwd}}</a></h3>
            <h3 class="mb-4"><a href="#">{{public.confPwd}}</a></h3>
            <p><a href="#">{{public.phone}}</a></p>
          </div>
        </div>
      </div>
      
    </div>
  </div>