<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9 mx-auto text-center">
        <h1 class="text-white">Display Match </h1>
      </div>
    </div>
  </div>
</div>
<div class="site-section first-section">
  <div class="container">
    <div class="row">
      <div style="margin-left:30% ;">
        <div class="col-md-8 sidebar">
          <div class="sidebar-box">
            <div class="categories">
              <h1 class="text-uppercase">FINAL SCORE</h1>
              <br>
              <li>
                <h3 class="text-uppercase">Team One : <span>{{match.teamOne}}</span></h3>
              </li>
              <li>
                <h3 class="text-uppercase">Team Two : <span>{{match.teamTwo}}</span></h3>
              </li>
              <li>
                <h3 class="text-uppercase">Score One : <span>{{match.scoreOne}}</span></h3>
              </li>
              <li>
                <h3 class="text-uppercase">Score Two : <span>{{match.scoreTwo}}</span></h3>
              </li>
              <li>
                  <h3 class="text-uppercase">Logo Team 1 </h3>
                  <img src="{{match.logo1}}" alt="Image placeholder" class="img-fluid mb-4">
                </li>
                <li>
                    <h3 class="text-uppercase">Logo Team 2 </h3>
                    <img src="{{match.logo2}}" alt="Image placeholder" class="img-fluid mb-4">
                  </li>
                <li> 
              <h3 class="text-uppercase"> <span></span></h3>
              </li>
            </div>
          </div>
          <!-- <div class="sidebar-box">
              <img src="{{match.logo1}}" alt="Image placeholder" class="img-fluid mb-4">
            </div> -->
        </div>
      </div>
    </div>
  </div>
</div>