<div class="container site-section">
    <div class="row">
      <div class="col-6 title-section">
        <h2 class="heading">Our Blog</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="custom-media d-flex">
          <div class="img mr-4">
            <img  src= {{player.image}} alt="Image" class="img-fluid">
          </div>
          <div class="text">
            <span class="meta">{{player.birthdate}}</span>
            <h3 class="mb-4"><a href="#">{{player.name}}</a></h3>
            <p>Lorem ipsublarunt saepe tempora dolorem.</p>
            <p><a href="#">{{player.postion}}</a></p>
          </div>
        </div>
      </div>
      
    </div>
  </div>